* {margin: 0; padding: 0;}
li {list-style: none;}
img {display: block;}
a {text-decoration: none;}


/* ------------------header--------------- */

.logoBox {
    width: 100%;
    background-color: #f5f5f5;
}

.logoBox div {
    width: 110px;
    height: 38px;
    margin: 0 auto;
}

.gnb {
    width: 1070px;
    height: 100px;
    margin: 0 auto;
}

.gnb .gnbMain {
    float: left;
    width: 70%;
}

.gnb .gnbMain li {
    font-size: 14px;
    font-weight: bold;
    line-height: 100px;
    margin-right: 80px;
    float: left;
}

.gnb .gnbMain li a {
    color: black;
}

.gnb .gnbSide {
    float: right;
    width: 30%;
    padding: 40px 0;
}

.gnb .gnbSide li {
    font-size: 12px;
    float: left;
    font-weight: bold;
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #929292;
}

.gnb .gnbSide li:nth-child(3) {
    margin: 0;
}

.gnb .gnbSide li a {
    color: #929292;
}

/* ------------------header--------------- */



/* ------------------mainVisual--------------- */

.mainVisual img {
    width: 100%;
}


/* ------------------mainVisual--------------- */



/* ------------------mainContent--------------- */



.mainContent .containner {
    background-color: #f5f5f5;
}

.mainContent .containner h2 {
    width: 1070px;
    margin: 0 auto;
    padding: 50px 0 30px;
    font-weight: lighter;
    letter-spacing: -0.05em;
}

.mainContent .containner .bannerBox {
    width: 1070px;
    margin: 0 auto;
    height: 800px;
}

.mainContent .containner .bannerBox .top {
    height: 540px;
}


/* ------------------01--------------- */


.mainContent .containner .bannerBox .top .content_top_01 {
    width: 270px;
    float: left;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox01 {
    background: url(../img/img_01.jpg);
    position: relative;
    width: 260px;
    height: 260px;
    overflow: hidden;
    margin: 0 10px 10px 0;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox01 .imgBox01_1 {
    background-color: rgba(21, 9, 255, 0.7);
    position: absolute;
    width: 260px;
    height: 260px;
    left: 0; 
    bottom: -260px;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox01 .imgBox01_2 {
    color: white;
    text-align: center;
    position: absolute;
    left: -260px;
    top: 0;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox01 .imgBox01_2 p{
   padding: 70px 0 20px;
   font-size: 14px;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox01 .imgBox01_2 div {
    color: white;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px 10px;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox01 .imgBox01_2 div a {
    color: #fff;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox01:hover .imgBox01_1 {
    bottom: 0;
    transition: all 0.2s;
}
.mainContent .containner .bannerBox .top .content_top_01 .imgBox01:hover .imgBox01_2 {
    left: 15%;
    transition: all 0.2s 0.3s;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox01 .imgBox01_2 div:hover {
    color: rgb(21, 9, 255);
    background-color: #fff;
    border-radius: 5px;
}
.mainContent .containner .bannerBox .top .content_top_01 .imgBox01 .imgBox01_2 div:hover a {
    color: rgb(21, 9, 255);
}



/* ------------------01--------------- */


/* ------------------05--------------- */


.mainContent .containner .bannerBox .top .content_top_01 .imgBox05 {
    background: url(../img/img_05.jpg);
    position: relative;
    width: 260px;
    height: 260px;
    overflow: hidden;
    margin: 0 10px 10px 0;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox05 .imgBox05_1 {
    background-color: rgba(21, 9, 255, 0.7);
    position: absolute;
    width: 260px;
    height: 260px;
    left: 0; 
    bottom: -260px;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox05 .imgBox05_2 {
    color: white;
    text-align: center;
    position: absolute;
    left: -260px;
    top: 0;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox05 .imgBox05_2 p{
   padding: 70px 0 20px;
   font-size: 14px;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox05 .imgBox05_2 div {
    color: white;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px 10px;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox05 .imgBox05_2 div a {
    color: #fff;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox05:hover .imgBox05_1 {
    bottom: 0;
    transition: all 0.2s;
}
.mainContent .containner .bannerBox .top .content_top_01 .imgBox05:hover .imgBox05_2 {
    left: 15%;
    transition: all 0.2s 0.3s;
}

.mainContent .containner .bannerBox .top .content_top_01 .imgBox05 .imgBox05_2 div:hover {
    color: rgb(21, 9, 255);
    background-color: #fff;
    border-radius: 5px;
}
.mainContent .containner .bannerBox .top .content_top_01 .imgBox05 .imgBox05_2 div:hover a {
    color: rgb(21, 9, 255);
}



/* ------------------05--------------- */


/* ------------------02--------------- */


.mainContent .containner .bannerBox .top .content_top_02 .imgBox02 {
    background: url(../img/img_02.jpg);
    position: relative;
    width: 260px;
    height: 530px;
    overflow: hidden;
    margin: 0 10px 10px 0;
    float: left;
}

.mainContent .containner .bannerBox .top .content_top_02 .imgBox02 .imgBox02_1 {
    background-color: rgba(21, 9, 255, 0.7);
    position: absolute;
    width: 260px;
    height: 530px;
    left: 0; 
    left: -260px;
}

.mainContent .containner .bannerBox .top .content_top_02 .imgBox02 .imgBox02_2 {
    color: white;
    text-align: center;
    position: absolute;
    right: -260px;
    top: 0;
}

.mainContent .containner .bannerBox .top .content_top_02 .imgBox02 .imgBox02_2 p{
   padding: 200px 0 20px;
   font-size: 14px;
}

.mainContent .containner .bannerBox .top .content_top_02 .imgBox02 .imgBox02_2 div {
    color: white;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px 10px;
}

.mainContent .containner .bannerBox .top .content_top_02 .imgBox02 .imgBox02_2 div a {
    color: #fff;
}

.mainContent .containner .bannerBox .top .content_top_02 .imgBox02:hover .imgBox02_1 {
    left: 0;
    transition: all 0.2s;
}
.mainContent .containner .bannerBox .top .content_top_02 .imgBox02:hover .imgBox02_2 {
    right: 15%;
    transition: all 0.2s 0.3s;
}

.mainContent .containner .bannerBox .top .content_top_02 .imgBox02 .imgBox02_2 div:hover {
    color: rgb(21, 9, 255);
    background-color: #fff;
    border-radius: 5px;
}
.mainContent .containner .bannerBox .top .content_top_02 .imgBox02 .imgBox02_2 div:hover a {
    color: rgb(21, 9, 255);
}


/* ------------------02--------------- */



/* ------------------03--------------- */


.mainContent .containner .bannerBox .top .content_top_03 .imgBox03 {
    background: url(../img/img_03.jpg);
    position: relative;
    width: 260px;
    height: 260px;
    overflow: hidden;
    margin: 0 10px 10px 0;
    float: left;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox03 .imgBox03_1 {
    background-color: rgba(21, 9, 255, 0.7);
    position: absolute;
    width: 260px;
    height: 260px;
    left: 0; 
    bottom: -260px;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox03 .imgBox03_2 {
    color: white;
    text-align: center;
    position: absolute;
    left: -260px;
    top: 0;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox03 .imgBox03_2 p{
   padding: 70px 0 20px;
   font-size: 14px;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox03 .imgBox03_2 div {
    color: white;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px 10px;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox03 .imgBox03_2 div a {
    color: #fff;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox03:hover .imgBox03_1 {
    bottom: 0;
    transition: all 0.2s;
}
.mainContent .containner .bannerBox .top .content_top_03 .imgBox03:hover .imgBox03_2 {
    left: 15%;
    transition: all 0.2s 0.3s;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox03 .imgBox03_2 div:hover {
    color: rgb(21, 9, 255);
    background-color: #fff;
    border-radius: 5px;
}
.mainContent .containner .bannerBox .top .content_top_03 .imgBox03 .imgBox03_2 div:hover a {
    color: rgb(21, 9, 255);
}



/* ------------------03--------------- */



/* ------------------04--------------- */


.mainContent .containner .bannerBox .top .content_top_03 .imgBox04 {
    background: url(../img/img_04.jpg);
    position: relative;
    width: 260px;
    height: 260px;
    overflow: hidden;
    margin: 0 0 10px 0;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox04 .imgBox04_1 {
    background-color: rgba(21, 9, 255, 0.7);
    position: absolute;
    width: 260px;
    height: 260px;
    left: 0; 
    bottom: -260px;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox04 .imgBox04_2 {
    color: white;
    text-align: center;
    position: absolute;
    left: -260px;
    top: 0;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox04 .imgBox04_2 p{
   padding: 70px 0 20px;
   font-size: 14px;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox04 .imgBox04_2 div {
    color: white;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px 10px;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox04 .imgBox04_2 div a {
    color: #fff;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox04:hover .imgBox04_1 {
    bottom: 0;
    transition: all 0.2s;
}
.mainContent .containner .bannerBox .top .content_top_03 .imgBox04:hover .imgBox04_2 {
    left: 15%;
    transition: all 0.2s 0.3s;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox04 .imgBox04_2 div:hover {
    color: rgb(21, 9, 255);
    background-color: #fff;
    border-radius: 5px;
}
.mainContent .containner .bannerBox .top .content_top_03 .imgBox04 .imgBox04_2 div:hover a {
    color: rgb(21, 9, 255);
}



/* ------------------04--------------- */



/* ------------------06--------------- */


.mainContent .containner .bannerBox .top .content_top_03 .imgBox06 {
    background: url(../img/img_06.jpg);
    position: relative;
    width: 530px;
    height: 260px;
    overflow: hidden;
    margin: 0 0 10px 0;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox06 .imgBox06_1 {
    background-color: rgba(21, 9, 255, 0.7);
    position: absolute;
    width: 530px;
    height: 260px;
    left: 0; 
    top: -260px;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox06 .imgBox06_2 {
    color: white;
    text-align: center;
    position: absolute;
    left: 170px;
    bottom: -260px;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox06 .imgBox06_2 p{
   padding: 70px 0 20px;
   font-size: 14px;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox06 .imgBox06_2 div {
    color: white;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px 10px;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox06 .imgBox06_2 div a {
    color: #fff;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox06:hover .imgBox06_1 {
    top: 0;
    transition: all 0.2s;
}
.mainContent .containner .bannerBox .top .content_top_03 .imgBox06:hover .imgBox06_2 {
    bottom: 70px;
    transition: all 0.2s 0.3s;
}

.mainContent .containner .bannerBox .top .content_top_03 .imgBox06 .imgBox06_2 div:hover {
    color: rgb(21, 9, 255);
    background-color: #fff;
    border-radius: 5px;
}
.mainContent .containner .bannerBox .top .content_top_03 .imgBox06 .imgBox06_2 div:hover a {
    color: rgb(21, 9, 255);
}



/* ------------------06--------------- */



.mainContent .containner .bannerBox .bottom {
    height: 270px;
}



/* ------------------07--------------- */


.mainContent .containner .bannerBox .bottom .imgBox07 {
    background: url(../img/img_07.jpg);
    position: relative;
    width: 260px;
    height: 260px;
    overflow: hidden;
    margin: 0 10px 10px 0;
    float: left;
}

.mainContent .containner .bannerBox .bottom .imgBox07 .imgBox07_1 {
    background-color: rgba(21, 9, 255, 0.7);
    position: absolute;
    width: 260px;
    height: 260px;
    left: 0; 
    bottom: -260px;
}

.mainContent .containner .bannerBox .bottom .imgBox07 .imgBox07_2 {
    color: white;
    text-align: center;
    position: absolute;
    left: -260px;
    top: 0;
}

.mainContent .containner .bannerBox .bottom .imgBox07 .imgBox07_2 p{
   padding: 70px 0 20px;
   font-size: 14px;
}

.mainContent .containner .bannerBox .bottom .imgBox07 .imgBox07_2 div {
    color: white;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px 10px;
}

.mainContent .containner .bannerBox .bottom .imgBox07 .imgBox07_2 div a {
    color: #fff;
}

.mainContent .containner .bannerBox .bottom .imgBox07:hover .imgBox07_1 {
    bottom: 0;
    transition: all 0.2s;
}
.mainContent .containner .bannerBox .bottom .imgBox07:hover .imgBox07_2 {
    left: 15%;
    transition: all 0.2s 0.3s;
}

.mainContent .containner .bannerBox .bottom .imgBox07 .imgBox07_2 div:hover {
    color: rgb(21, 9, 255);
    background-color: #fff;
    border-radius: 5px;
}
.mainContent .containner .bannerBox .bottom .imgBox07 .imgBox07_2 div:hover a {
    color: rgb(21, 9, 255);
}



/* ------------------07--------------- */


/* ------------------08--------------- */


.mainContent .containner .bannerBox .bottom .imgBox08 {
    background: url(../img/img_08.jpg);
    position: relative;
    width: 530px;
    height: 260px;
    overflow: hidden;
    margin: 0 10px 10px 0;
    float: left;
}

.mainContent .containner .bannerBox .bottom .imgBox08 .imgBox08_1 {
    background-color: rgba(21, 9, 255, 0.7);
    position: absolute;
    width: 530px;
    height: 260px;
    left: 0; 
    bottom: -260px;
}

.mainContent .containner .bannerBox .bottom .imgBox08 .imgBox08_2 {
    color: white;
    text-align: center;
    position: absolute;
    left: -260px;
    top: 0;
}

.mainContent .containner .bannerBox .bottom .imgBox08 .imgBox08_2 p{
   padding: 70px 0 20px;
   font-size: 14px;
}

.mainContent .containner .bannerBox .bottom .imgBox08 .imgBox08_2 div {
    color: white;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px 10px;
}

.mainContent .containner .bannerBox .bottom .imgBox08 .imgBox08_2 div a {
    color: #fff;
}

.mainContent .containner .bannerBox .bottom .imgBox08:hover .imgBox08_1 {
    bottom: 0;
    transition: all 0.2s;
}
.mainContent .containner .bannerBox .bottom .imgBox08:hover .imgBox08_2 {
    left: 15%;
    transition: all 0.2s 0.3s;
}

.mainContent .containner .bannerBox .bottom .imgBox08 .imgBox08_2 div:hover {
    color: rgb(21, 9, 255);
    background-color: #fff;
    border-radius: 5px;
}
.mainContent .containner .bannerBox .bottom .imgBox08 .imgBox08_2 div:hover a {
    color: rgb(21, 9, 255);
}



/* ------------------08--------------- */




/* ------------------09--------------- */


.mainContent .containner .bannerBox .bottom .imgBox09 {
    background: url(../img/img_09.jpg);
    position: relative;
    width: 260px;
    height: 260px;
    overflow: hidden;
    margin: 0 0 10px 0;
    float: left;
}

.mainContent .containner .bannerBox .bottom .imgBox09 .imgBox09_1 {
    background-color: rgba(21, 9, 255, 0.7);
    position: absolute;
    width: 260px;
    height: 260px;
    left: 0; 
    bottom: -260px;
}

.mainContent .containner .bannerBox .bottom .imgBox09 .imgBox09_2 {
    color: white;
    text-align: center;
    position: absolute;
    left: -260px;
    top: 0;
}

.mainContent .containner .bannerBox .bottom .imgBox09 .imgBox09_2 p{
   padding: 70px 0 20px;
   font-size: 14px;
}

.mainContent .containner .bannerBox .bottom .imgBox09 .imgBox09_2 div {
    color: white;
    font-size: 14px;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px 10px;
}

.mainContent .containner .bannerBox .bottom .imgBox09 .imgBox09_2 div a {
    color: #fff;
}

.mainContent .containner .bannerBox .bottom .imgBox09:hover .imgBox09_1 {
    bottom: 0;
    transition: all 0.2s;
}
.mainContent .containner .bannerBox .bottom .imgBox09:hover .imgBox09_2 {
    left: 15%;
    transition: all 0.2s 0.3s;
}

.mainContent .containner .bannerBox .bottom .imgBox09 .imgBox09_2 div:hover {
    color: rgb(21, 9, 255);
    background-color: #fff;
    border-radius: 5px;
}
.mainContent .containner .bannerBox .bottom .imgBox09 .imgBox09_2 div:hover a {
    color: rgb(21, 9, 255);
}



/* ------------------09--------------- */
